In [1]:
import pandas as pd

# 体现一个example
# Merges in pandas work by matching columns on the left to columns on the right.
X = pd.DataFrame({
    'Category': ['A', 'B'], 'Value': ['1', '2']
})
Y = pd.DataFrame({
    'Category': ['B', 'C'], 'Value': ['3', '4']
})

In [2]:
# 实现inner merge
pd.merge(left=X, right=Y, left_on='Category', right_on='Category', how='inner')
# print(merged_data)

  Category Value_x Value_y
0        B       2       3

Inner Merge 类似于 SQL 中的 INNER JOIN，取交集；  
Left Merge 类似于 SQL 中的 LEFT JOIN，取左表全部行，加上右表中能匹配到的值，匹配不到就填充 NaN。