# Generating Lists

## `Range()` method

In [1]:
## YOUR SOLUTION HERE ##
range14 = range(1,5)

# show output
list(range14)

[1, 2, 3, 4]

In [2]:
range5 = range(5, 21, 5)
print(list(range5))

[5, 10, 15, 20]

## Comprehension
Python can generate more complex lists using list comprehensions.

In [3]:
total_rides = [6525831, 8039490, 7075161, 6959417, 6504358]

## YOUR SOLUTION HERE ##
thousands = [rides / 1000 for rides in total_rides]

# show output
thousands

[6525.831, 8039.49, 7075.161, 6959.417, 6504.358]

In [4]:
## YOUR SOLUTION HERE ##
rounded = [round(result, 0) for result in thousands]

# show output
rounded

[6526.0, 8039.0, 7075.0, 6959.0, 6504.0]

## Vertical Concatenation
If the DataFrames have different columns, pandas will insert NaN values to compensate.

In [3]:
import pandas as pd

X = pd.DataFrame({'A': [100,200,300],
                  'B': ["A", "B", "A"]})

Y = pd.DataFrame({'A': [400, 500],
                  'B': ["A","B"],
                  'C': [True, False]})

df = pd.concat([X, Y])
df

     A  B      C
0  100  A    NaN
1  200  B    NaN
2  300  A    NaN
0  400  A   True
1  500  B  False