# GroupBy关键字

In [1]:
import pandas as pd
import numpy as np

data = {'home_team':['Brazil','England','England','Brazil','South Korea','England','South Korea','Brazil','South Korea'],
        'home_score':[3,2,3,3,2,2,3,2,1]}
df = pd.DataFrame(data)

df.groupby('home_team').agg({'home_score':'mean'})
# 还有另一种写法
# df.groupby('home_team)['home_score'].mean()

             home_score
home_team
Brazil         2.666667
England        2.333333
South Korea    2.000000

# Cleaning GroupBy
下面的方法是在实现 `GroupBy` 方法之后的操作，例如rename columns，reset index。

In [3]:
import pandas as pd
import numpy as np


data = {
    'home_team': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'home_score': [2, 3, 1, 4, 5, 6, 2, 3],
    'away_team': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
    'away_score': [1, 0, 2, 3, 1, 2, 3, 4]
}

df = pd.DataFrame(data)
print(df)

# Group by 'home_team' and compute the mean home score
df_grouped = df.groupby('home_team').agg({'home_score': 'mean'})

# Step 1: Rename first, then reset index (alternative approach)
df_renamed_first = df_grouped.rename(columns={'home_score': 'mean_home_score'})
df_final1 = df_renamed_first.reset_index()
print(df_final1)

# Step 2: Reset index first, then rename (recommended approach)
df_final2 = df_grouped.reset_index().rename(columns={'home_score': 'mean_home_score'})
print(df_final2)

  home_team  home_score away_team  away_score
0         A           2         X           1
1         A           3         Y           0
2         B           1         X           2
3         B           4         Y           3
4         C           5         X           1
5         C           6         Y           2
6         D           2         X           3
7         D           3         Y           4

# GroupBy many columns

In [ ]:
import pandas as pd

data = {'date': ['2019-09-06', '2021-09-24', '2019-07-07', '2021-06-27', '2016-03-25', '2017-05-28', '2021-09-05', '2021-08-01', '2021-07-11'],
        'home_team': ['United States', 'El Salvador', 'United States', 'El Salvador', 'El Salvador', 'El Salvador', 'El Salvador', 'United States', 'El Salvador'],
        'away_team': ['Mexico', 'Guatemala', 'Mexico', 'Guatemala', 'Honduras', 'Honduras', 'Honduras', 'Mexico', 'Guatemala'],
        'win_margin': [-3, -2, -1, 0, 0, 0, 0, 1, 2]}
df = pd.DataFrame(data)

# create the groupby, 实现多个属性的GroupBy
max_wins = df.groupby(
    ['home_team', 'away_team']).agg(
    {'win_margin':'max'})

# clean the output
max_wins.columns = ['max_margin']
max_wins = max_wins.reset_index()

# show output
max_wins.head()

       home_team  away_team  max_margin
0    El Salvador  Guatemala           2
1    El Salvador   Honduras           0
2  United States     Mexico           1

# Groupby 多个计算结果于一体

In [1]:
import pandas as pd
import numpy as np

data = [
    ['2022-11-17', 'South Africa', 'Mozambique', 3, 'Friendly'],
    ['2022-11-20', 'Norway', 'Finland', 2, 'Friendly'],
    ['2022-11-19', 'Peru', 'Bolivia', 1, 'Friendly'],
    ['2022-12-02', 'South Korea', 'Portugal', 3, 'FIFA World Cup'],
    ['2022-12-10', 'England', 'France', 3, 'FIFA World Cup'],
    ['2022-12-14', 'Vietnam', 'Philippines', 1, 'Friendly'],
    ['2022-12-17', 'Croatia', 'Morocco', 3, 'FIFA World Cup'],
    ['2022-12-18', 'Argentina', 'France', 6, 'FIFA World Cup']
]

df = pd.DataFrame(data, columns=['date', 'home_team', 'away_team', 'total_goals', 'tournament'])

# Aggregation functions on multiple columns
goals = df.groupby('tournament').agg({'date':'count', 'total_goals':['mean','median']})

# Renaming columns
goals.columns = ['num_games','mean_goals','median_goals']
goals = goals.reset_index()

goals

       tournament  num_games  mean_goals  median_goals
0  FIFA World Cup          4        3.75           3.0
1        Friendly          4        1.75           1.5