# Pivot table

In [4]:
import pandas as pd

# Create the DataFrame
data = {
    'team': ['A', 'A', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'E'],
    'year': [2020, 2021, 2020, 2021, 2019, 2020, 2021, 2020, 2021, 2021],
    'score': [10, 20, 30, 40, 50, 60, 70, 15, 25, 35],
    'assists': [5, 7, 8, 10, 12, 14, 16, 6, 8, 9]
}

df = pd.DataFrame(data)

# Create a pivot table
pivot_df = df.pivot_table(values=['score', 'assists'], index='team', columns='year', aggfunc='mean', fill_value=0)

# Display the pivot table
pivot_df

     assists           score
year    2019 2020 2021  2019 2020 2021
team
A          0    5    7     0   10   20
B          0    8   10     0   30   40
C         12   14   16    50   60   70
D          0    6    8     0   15   25
E          0    0    9     0    0   35