# GroupBy关键字

In [1]:
import pandas as pd
import numpy as np

data = {'home_team':['Brazil','England','England','Brazil','South Korea','England','South Korea','Brazil','South Korea'],
        'home_score':[3,2,3,3,2,2,3,2,1]}
df = pd.DataFrame(data)

df.groupby('home_team').agg({'home_score':'mean'})
# 还有另一种写法
# df.groupby('home_team)['home_score'].mean()

             home_score
home_team
Brazil         2.666667
England        2.333333
South Korea    2.000000

# Cleaning GroupBy关键字

In [3]:
import pandas as pd
import numpy as np


data = {
    'home_team': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'home_score': [2, 3, 1, 4, 5, 6, 2, 3],
    'away_team': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
    'away_score': [1, 0, 2, 3, 1, 2, 3, 4]
}

df = pd.DataFrame(data)
print(df)

# Group by 'home_team' and compute the mean home score
df_grouped = df.groupby('home_team').agg({'home_score': 'mean'})

# Step 1: Rename first, then reset index (alternative approach)
df_renamed_first = df_grouped.rename(columns={'home_score': 'mean_home_score'})
df_final1 = df_renamed_first.reset_index()
print(df_final1)

# Step 2: Reset index first, then rename (recommended approach)
df_final2 = df_grouped.reset_index().rename(columns={'home_score': 'mean_home_score'})
print(df_final2)

  home_team  home_score away_team  away_score
0         A           2         X           1
1         A           3         Y           0
2         B           1         X           2
3         B           4         Y           3
4         C           5         X           1
5         C           6         Y           2
6         D           2         X           3
7         D           3         Y           4