In [1]:
import pandas as pd
import numpy as np

data = {'home_team':['Brazil','England','England','Brazil','South Korea','England','South Korea','Brazil','South Korea'],
        'home_score':[3,2,3,3,2,2,3,2,1]}
df = pd.DataFrame(data)

df.groupby('home_team').agg({'home_score':'mean'})
# 还有另一种写法
# df.groupby('home_team)['home_score'].mean()

             home_score
home_team
Brazil         2.666667
England        2.333333
South Korea    2.000000