# SplittingAndCombining

In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['zhangsan', 'lisi', 'wangwu', 'zhaoliu'],
    'age': [20, 30, 25, 35],
    'city': ['qingdao', 'shijiazhuang', 'zhengzhou', 'taiyuan'],
    'province' : ['shandong', 'hebei', 'henan', 'shanxi'],
    'Location': ['qingdao,shandong', 'shijiazhuang,hebei', 'zhengzhou, henan', 'taiyuan, shanxi']
}, index=['1', '2', '3', '4'])

df

       name  age          city  province            Location
1  zhangsan   20       qingdao  shandong    qingdao,shandong
2      lisi   30  shijiazhuang     hebei  shijiazhuang,hebei
3    wangwu   25     zhengzhou     henan    zhengzhou, henan
4   zhaoliu   35       taiyuan    shanxi     taiyuan, shanxi

## Splitting columns
可以选择使用逗号作为delimiter

In [2]:
location_split = df['Location'].str.split(',', expand=True)
location_split

              0         1
1       qingdao  shandong
2  shijiazhuang     hebei
3     zhengzhou     henan
4       taiyuan    shanxi

现在的location_split是一个表格, 见这个课程https://www.codecademy.com/courses/getting-started-with-python-for-data-science/lessons/cleaning-and-transforming-columns/exercises/splitting-and-combining-columns   

已经通过, 分隔开成两列了

In [4]:
# 定义一个不存在的column
df['place'] = location_split[0]
df.head()

       name  age          city  province            Location         place
1  zhangsan   20       qingdao  shandong    qingdao,shandong       qingdao
2      lisi   30  shijiazhuang     hebei  shijiazhuang,hebei  shijiazhuang
3    wangwu   25     zhengzhou     henan    zhengzhou, henan     zhengzhou
4   zhaoliu   35       taiyuan    shanxi     taiyuan, shanxi       taiyuan

## Combining columns
假设通过空格来连接city和province两列

In [ ]:
df['combine_location'] = df['city'].str.cat(df['province'], sep=' ')
df[['city', 'province', 'combine_location']]

           city  province    combine_location
1       qingdao  shandong    qingdao shandong
2  shijiazhuang     hebei  shijiazhuang hebei
3     zhengzhou     henan     zhengzhou henan
4       taiyuan    shanxi      taiyuan shanxi